flynt-component[name='BlockTiles'] {
  .tile {
    width: 100%;
    flex-grow: 1;
  }

  .tiles--2 .tile {
    @screen tablet {
      width: calc(50% - var(--spacing-sm) / 2);
    }
  }

  .tiles--3 .tile {
    @screen tablet {
      width: calc(32% - var(--spacing-sm) / 3);
    }
  }

  .tiles--4 .tile {
   @screen tablet {
      width: calc(50% - var(--spacing-sm) / 2);
    }

    @screen desktop {
      width: calc(24% - var(--spacing-sm) / 2);
    }
  }
}
