flynt-component[name='HeroHeader'] {
  .gallery {
    .illustrations {
      @apply transition-all duration-500 ease-in-out;

      img {
        @apply transition-all duration-500 ease-in-out;
        margin-left: 0;
        margin-right: 0;
      }
    }

    &:hover {
      .illustrations {
        transform: translateY(-110%);

        img {
          margin-left: 9rem;
          margin-right: 9rem;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .galleryImg {
    @apply transition-all duration-500 ease-in-out;

    &:nth-child(1) {
      @apply transition-all duration-500 ease-in-out;
      @apply -rotate-[5deg] translate-x-[100%] origin-center;
    }

    &:nth-child(2) {
      @apply -rotate-[7.5deg] translate-x-[75%] origin-center;
    }

    &:nth-child(3) {
      @apply -rotate-[10deg] translate-x-[50%] origin-center;
    }

    &:nth-child(4) {
      @apply rotate-[5deg] origin-center;
    }

      &:nth-child(5) {
      @apply rotate-[7.5deg] translate-x-[-50%] origin-center;
    }

    &:nth-child(6) {
      @apply rotate-[10deg] translate-x-[-75%] origin-center;
    }

    &:nth-child(7) {
      @apply rotate-[12.5deg] translate-x-[-100%] origin-center;
    }
  }

  .content {
    > :last-child {
      margin-block-end: 0;
    }

    @media (max-width: theme('screens.tablet')) {
      br {
        content: '\00a0';
      }
    }
  }
}
