<flynt-component 
  load:on="visible" 
  name="BlockButtons"
  class="{% if options.fixed %}fixed bottom-0 left-0 right-0 z-10{% endif %}"
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %};"
  >
  <div class="boxed p-sm md:p-[32px] w-full">
    <div class="flex flex-row flex-wrap justify-center items-center gap-xs">
      {% for button in buttons %}
        <a class="button button--fullBlue relative [&_.icon]:hover:opacity-0 transition-all duration-500" href="{{button.buttonLink.url}}" {% if button.buttonLink.target %} target="{{ button.buttonLink.target }}" rel="noreferrer noopener"{% endif %}>
          {{button.buttonLink.title}}
          <div class="icon absolute top-[-2px] right-[-2px] h-[14px] w-[14px] bg-orange rounded-full"></div>
        </a>
      {% endfor %}
    </div>
  </div>
</flynt-component> 