<flynt-component load:on="visible" name="BlockImageTest2">
  <div class="w-screen h-full boxed !px-0">
    <figure class="figure">
      {% if image %}
        <img 
          class="igure-image lazyload object-cover"
          src="{{ image.src }}"
          alt="{{ image.alt|e | default('') }}"
          loading="lazy"
          style="opacity: 0; transition: opacity 0.5s ease-in-out;"
          onload="this.style.opacity='1'"
        />
      {% endif %}
      {% if image.title or image.caption %}
        <div class="hidden py-[5px]">
          <figcaption class="font-bodySmall">{{ image.title|e }}</figcaption>
          <figcaption class="font-bodySmall underline underline-offset-4">{{ image.caption|e }}</figcaption>
        </div>
      {% endif %}
    </figure>
  </div>
</flynt-component>
