button {
  border: inherit;
}

.button {
  @include reset-link;
  appearance: none;
  font-family: var(--primary-font-family, 'Inter', Arial, sans-serif);
  font-size: var(--button-font-size, 1rem);
  line-height: var(--button-line-height, 1.2);
  font-weight: var(--button-font-weight, 500);
  @apply w-fit;
  @apply px-xs;
  @apply py-[7px];
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply cursor-pointer;
  @apply relative;
  @apply text-center;
  @apply no-underline;
  @apply whitespace-nowrap;

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &--link {
    font-size: 1.25rem;
    @apply underline-offset-4 !important;
    @apply hover:no-underline !important;
    @apply focus:no-underline !important;
    @apply p-0 !important;

    &::after {
      content: '→';
    }
  }

  // &--primary {
  //   @apply text-white;
  //   @apply bg-black;
  //   @apply border;
  //   @apply border-black;

  //   &:hover,
  //   &:focus {
  //     @apply text-white;
  //     @apply bg-grey-700;
  //     @apply border-grey-700;
  //   }
  // }

  // &--secondary {
  //   @apply text-white;
  //   @apply bg-grey-600;
  //   @apply border;
  //   @apply border-grey-600;

  //   &:hover,
  //   &:focus {
  //     @apply text-white;
  //     @apply bg-grey-800;
  //     @apply border-grey-800;
  //   }
  // }

  // &--outline {
  //   @apply text-black;
  //   @apply bg-transparent;
  //   @apply border;
  //   @apply border-black;

  //   &:hover,
  //   &:focus {
  //     color: var(--white) !important;
  //     @apply bg-black;
  //   }
  // }
}

.wpcf7-submit {
  @include reset-link;
  appearance: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  @apply py-xs;
  @apply px-sm;
  @apply text-white;
  @apply bg-black;
  @apply justify-center;
  @apply border;
  @apply border-black;
  @apply rounded-button;
  @apply whitespace-nowrap;
  @apply w-full;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply cursor-pointer;
  @apply relative;
  @apply text-center;
  @apply no-underline;

  &:hover,
  &:focus {
    @apply bg-grey-700;
    @apply border-grey-700;
  }
}
