button {
  border: inherit;
}

.button {
  @include reset-link;
  appearance: none;
  font-family: var(--primary-font-family, 'Inter', Arial, sans-serif);
  font-size: var(--button-size, 1rem);
  line-height: var(--button-line-height, 1.2);
  font-weight: var(--button-font-weight, 500);
  @apply relative;
  @apply px-md py-xs;
  @apply flex justify-center items-center;
  @apply cursor-pointer;
  @apply text-center no-underline whitespace-nowrap;
  @apply rounded-button;

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &--link {
    @apply underline-offset-4 !important;
    @apply hover:no-underline !important;
    @apply focus:no-underline !important;
    @apply p-0 !important;
  }
}

.wpcf7-submit {
  @include reset-link;
  appearance: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  @apply px-md py-xs;
  @apply text-white;
  @apply bg-black;
  @apply justify-center;
  @apply border;
  @apply border-black;
  @apply flex justify-center items-center;
  @apply cursor-pointer;
  @apply text-center no-underline whitespace-nowrap;
  @apply rounded-button;

  &:hover,
  &:focus {
    @apply bg-grey-700;
    @apply border-grey-700;
  }
}
