button {
  border: inherit;
}

.button {
  @include reset-link;
  appearance: none;
  font-family: var(--primary-font-family, 'Inter', Arial, sans-serif);
  font-size: var(--button-size, 1rem);
  line-height: var(--button-line-height, 1.2);
  font-weight: var(--button-font-weight, 500);
  @apply w-fit;
  @apply px-sm;
  @apply py-xs;
  @apply rounded-button;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply cursor-pointer;
  @apply relative;
  @apply text-center;
  @apply no-underline;
  @apply whitespace-nowrap;

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &--fullBlue {
    @apply text-beige;
    @apply bg-blue;
    @apply border;
    @apply border-blue;

    &:hover,
    &:focus {
      @apply text-blue;
      @apply bg-transparent;
    }
  }

  &--fullOrange {
    @apply text-white;
    @apply bg-orange;
    @apply border;
    @apply border-orange;

    &:hover,
    &:focus {
      @apply text-orange;
      @apply bg-transparent;
    }
  }

  &--outline {
    @apply text-black;
    @apply bg-transparent;
    @apply border;
    @apply border-black;

    &:hover,
    &:focus {
      color: var(--white) !important;
      @apply bg-black;
    }
  }

  &--link {
    @apply text-white;
    @apply hover:text-white !important;
    @apply focus:text-white !important;
    @apply bg-transparent;
    @apply underline !important;
    @apply underline-offset-4 !important;
    @apply hover:no-underline !important;
    @apply focus:no-underline !important;
    @apply p-0;
    @apply capitalize;

    &::after {
      content: none !important;
    }
  }
}

.wpcf7-submit {
  @include reset-link;
  align-items: center;
  appearance: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml,%3Csvg width="186" height="48" viewBox="0 0 186 48" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0.5 0.5H177.453L185.5 9.19584V47.5H0.5V0.5Z" stroke="black"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
  color: var(--black);
  cursor: pointer;
  display: flex;
  display: inline-block;
  font: inherit;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 1.125rem;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1;
  min-width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;

  &:hover,
  &:focus {
    background-image: url('data:image/svg+xml,%3Csvg width="186" height="48" viewBox="0 0 186 48" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0.5 0.5H177.453L185.5 9.19584V47.5H0.5V0.5Z" fill="black" stroke="black"/%3E%3C/svg%3E');
    color: var(--white);
  }
}