:root {
    /* Colors (Primitives) */
    --white: #ffffff;
    --black: #000000;
    --grey: #f1f1f1;
    --green: #00ff48;
  
    /* Colors (Tokens) */
    --brandColor: var(--black);
    --accentColor: var(--black);

    --textColor: var(--black);
    --linkColor: var(--black);
  
    --bgColor: var(--black);
  
    --hoverColor: var(--black);
    --activeColor: var(--black);
  
    --errorColor: var(--black);
    --successColor: var(--black);
    --dangerColor: var(--black);
  }
  