:root {
    /* Colors (Primitives) */
    --white: #fff;
    --black: #000000;

    /* Colors (Tokens) */
    --brandColor: var(--black);
    --accentColor: var(--grey-500);

    --textColor: var(--black);
    --linkColor: var(--black);

    --bgColor: var(--white);

    --hoverColor: var(--grey-700);
    --activeColor: var(--grey-800);

    --errorColor: #dc2626;
    --successColor: #16a34a;
    --dangerColor: #dc2626;
  }
