/**
* GSAP Smooth Scroll Styles
*/

body {
  height: auto !important;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

/**
* Custom Classes
*/

.mobileHidden {
  @apply hidden;

  @screen mobile {
    @apply block;
  }
}

.desktopHidden {
  @apply block;
  
  @screen mobile {
    @apply hidden;
  }
}

// Scopes

.single {
  header {
    @apply lg:hidden;
  }

  // :not(.home) .mainContent {
  //   @apply mt-0;
  // }

  flynt-component[name='BlockWysiwyg'] {
    .boxed {
      @apply px-0 !important;
      
      &--inner {
        @apply p-0 !important;
      }
    }
  }
}

// Cookie banner

#cookie-notice {
  button {
    border-radius: 0 !important;
  }
}