form {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  @apply text-white;
  font-weight: 700;
  padding: 0;
}

label {
  @apply  text-white !important;
  font-weight: 500 !important;
}

.pas-submit {
  button {
    background: var(--black) !important;
  }
}

#{$input-selectors} {
  appearance: none !important;
  @apply bg-white text-black;
  @apply mb-sm !important;
  @apply border-0 !important;
  border-radius: 12px !important;
  max-width: 100% !important;
  outline: none !important;
  @apply px-xs !important;
  transition: border-color 0.3s ease-in-out !important;
  width: 100% !important;

  &::placeholder {
    @apply text-black;
    opacity: 0.8 !important;
  }

  &:focus,
  &:active {
    outline: none !important;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &:invalid {
    border-color: var(--color-error);
  }
}

.select {
  --icon-size: 17px;
  --icon-border-width: 2px;
  display: inline-block;
  position: relative;

  &::after {
    border-block-end: var(--icon-border-width) solid currentColor;
    border-inline-end: var(--icon-border-width) solid currentColor;
    content: '';
    display: block;
    height: var(--icon-size);
    inset-block-start: calc(50% - var(--icon-border-width));
    inset-inline-end: calc(0.6rem + (var(--icon-border-width) * 2));
    pointer-events: none;
    position: absolute;
    transform: translateY(calc(-50% - var(--icon-border-width))) rotate(45deg);
    width: var(--icon-size);
  }

  select {
    padding-inline-end: calc(var(--icon-size) + 1.5em);
  }
}

textarea {
  border: 1px solid var(--black);
  height: 150px;
  margin: 0;
  max-width: 100%;
  resize: vertical;
  vertical-align: top;
  width: 100%;
}

[type='checkbox'],
[type='radio'] {
  accent-color: var(--color-accent);
  display: inline-block;
  height: 20px;
  margin-block-start: 4px;
  margin-inline-end: 8px;
  vertical-align: top;
  width: 20px;

  + label {
    color: var(--color-text);
    display: inline-block;
    font: inherit;
    width: calc(100% - 33px);
  }
}

.wpforms-submit {
  @include reset-link;
  appearance: none;
  font-family: 'Retail', Arial, sans-serif !important;
  font-size: 1rem !important;
  line-height: 1 !important;
  font-weight: 800 !important;
  border-radius: 0 !important;
  @apply bg-blue hover:bg-blueDark text-white !important;
  @apply w-fit !important;
  @apply px-sm !important;
  @apply py-xs !important;
  @apply rounded-button !important;
  @apply flex !important;
  @apply justify-center !important;
  @apply items-center !important;
  @apply cursor-pointer !important;
  @apply relative !important;
  @apply text-center !important;
  @apply no-underline !important;
  @apply whitespace-nowrap !important;
}

.wpcf7 form .wpcf7-response-output {
  margin: 0 !important;
}

.wpforms-field {
  @apply p-0 !important;
}