// // H1
// h1,
// .h1,
// .font-h1 {
//   font-family: var(--primary-font-family, 'Retail', Arial, sans-serif);
//   font-size: var(--h1-size-mobile, 2.25rem);
//   line-height: var(--h1-line-height, 1.2);
//   font-weight: var(--heading-font-weight, 700);
//   word-break: break-word;

//   @screen desktop {
//     font-size: var(--h1-size-desktop, 3.25rem);
//   }
// }

// // H2
// h2,
// .h2,
// .font-h2 {
//   font-family: var(--primary-font-family, 'Retail', Arial, sans-serif);
//   font-size: var(--h2-size-mobile, 1.75rem);
//   line-height: var(--h2-line-height, 1.2);
//   font-weight: var(--heading-font-weight, 700);
//   word-break: break-word;

//   @screen desktop {
//     font-size: var(--h2-size-desktop, 2rem);
//   }
// }

// // H3
// h3,
// .h3,
// .font-h3 {
//   font-family: var(--primary-font-family, 'Inter', Arial, sans-serif);
//   font-size: var(--h3-size-mobile, 1.75rem);
//   line-height: var(--h3-line-height, 1.2);
//   font-weight: var(--heading-font-weight, 700);
//   word-break: break-word;

//   @screen desktop {
//     font-size: var(--h3-size-desktop, 2rem);
//   }
// }

// // H4
// h4,
// .h4,
// .font-h4 {
//   font-family: var(--primary-font-family, 'Retail', Arial, sans-serif);
//   font-size: var(--h4-size-mobile, 1.75rem);
//   line-height: var(--h4-line-height, 1.2);
//   font-weight: var(--heading-font-weight, 700);
//   word-break: break-word;

//   @screen desktop {
//     font-size: var(--h4-size-desktop, 2rem);
//   }
// }

// Body
p,
.paragraph,
.font-body {
  font-family: var(--primary-font-family, Arial, sans-serif);
  font-size: var(--body-size-mobile, 1rem);
  line-height: var(--body-line-height, 1.2);
  font-weight: var(--body-font-weight, 500);

  @screen desktop {
    font-size: var(--body-size-desktop, 1.25rem);
  }
}

// // Body Small
// .font-bodySmall,
// samp {
//   font-family: var(--primary-font-family, 'Inter', Arial, sans-serif);
//   font-size: var(--body-small-size, 0.75rem);
//   line-height: var(--body-small-line-height, 1.2);
//   margin-block-end: 0.5rem;

//   a {
//     @apply no-underline;
//     @apply hover:text-black;
//   }
// }

// // Body X-Small
// .font-bodyXSmall {
//   font-family: var(--primary-font-family, 'Inter', Arial, sans-serif);
//   font-size: var(--body-x-small-size, 0.75rem);
//   line-height: var(--body-x-small-line-height, 1.2);
//   margin-block-end: 0.5rem;

//   a {
//     @apply no-underline;
//     @apply hover:text-black;
//   }
// }

// // Menu
// .font-nav {
//   font-family: var(--primary-font-family, 'Inter', Arial, sans-serif);
//   font-size: var(--menu-size, 1rem);
//   line-height: var(--menu-line-height, 1.2);
//   font-weight: var(--menu-font-weight, 500);
// }

hr {
  border: 1px solid var(--black);
  margin: 0 auto;
}

code {
  background: var(--color-background-secondary);
  border-radius: 4px;
  display: inline-block;
  font-size: 0.95em;
  padding: 0 0.375em;
  word-break: break-word;
}

figcaption {
  color: var(--black);
  margin-block-start: 0.25rem;
}

blockquote,
.blockquote {
  border-inline-start: 5px solid var(--grey-300);
  display: block;
  font-size: 1.44rem;
  font-style: italic;
  font-weight: 500;
  line-height: calc(1em + 0.75rem);
  margin: 1.5625rem 0 1.5625rem 2.5rem;
  max-width: 100%;
  padding-inline-start: 0.8rem;

  footer {
    color: var(--color-text-muted);
    margin-block-start: 0.25rem;
  }
}

.wysiwyg {
  h1,
  .h1,
  .font-h1,
  h2,
  .h2,
  .font-h2,
  h3,
  .h3,
  .font-h3 {
    margin-bottom: 1rem;
  }

  button {
    text-decoration: none;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media print {
  h1,
  .h1,
  h2,
  .h2 {
    font-size: 18pt;
  }

  h3,
  .h3,
  h4,
  .h4 {
    font-size: 14pt;
  }

  p {
    font-size: 10pt;
  }
}
