hr {
  border: 0.5px solid var(--black);
  margin: 0 auto;
}

code {
  background: var(--color-background-secondary);
  border-radius: 4px;
  display: inline-block;
  font-size: 0.95em;
  padding: 0 0.375em;
  word-break: break-word;
}

figcaption {
  color: var(--black);
  margin-block-start: 0.25rem;
}

blockquote,
.blockquote {
  display: block;
  font-size: 1.44rem;
  font-style: normal;
  line-height: calc(1em + 0.75rem);
  margin: 1.5625rem 0 1.5625rem 2.5rem;
  max-width: 100%;
  padding-inline-start: 0.8rem;

  footer {
    color: var(--color-text-muted);
  }
}

h1 .h1,
h2 .h2,
h3 .h3,
h4 .h4,
h5 .h5,
h6 .h6 {
  hyphens: auto;
}

.wysiwyg {
  h1,
  .h1,
  .font-h1,
  h2,
  .h2,
  .font-h2,
  h3,
  .h3,
  .font-h3 {
    margin-bottom: 1rem;
  }

  button {
    text-decoration: none;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media print {
  h1,
  .h1,
  h2,
  .h2 {
    font-size: 18pt;
  }

  h3,
  .h3,
  h4,
  .h4 {
    font-size: 14pt;
  }

  p {
    font-size: 10pt;
  }
}
