<button data-ref="menuButton" class="hamburger" type="button" aria-expanded="false" aria-controls="navigationBurger-menu">
  <span class="visuallyHidden">{{ labels.toggleMenu }}</span>
  <span class="hamburger-lines" aria-hidden="true">
    <span class="hamburger-line hamburger-line-top"></span>
    <span class="hamburger-line hamburger-line-middle"></span>
    <span class="hamburger-line hamburger-line-bottom"></span>
  </span>
</button>
