flynt-component[name='BlockSliderLogos'] {
  .slider {
    max-width: 100%;
    position: relative;

    .swiper-wrapper {
      box-sizing: inherit;
      justify-content: space-between;
    }

    .swiper-slide {
      display: flex;
    }

    .button-wrapper {
      max-width: 1920px;
    }
    
    &-button {
      cursor: pointer;

      &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
