flynt-component[name='BlockPostFooter'] {
  .tags {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;

    .tag {
      display: inline-block;
      margin-inline: 0.5rem;
    }
  }

  .author {
    display: flex;
    flex-direction: column;
    gap: calc(1.5625rem / 2);
    text-align: start;

    @screen tablet {
      flex-direction: row;
      gap: 1.5625rem;
    }

    .avatar-image {
      border-radius: 50%;
      width: 64px;

      @screen tablet {
        width: 96px;
      }
    }

    .details {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
    }

    .description {
      font-size: var(--body-font-size-small);
    }
  }
}
