flynt-component[name='NavigationMain'] {
  .submenu {
    align-items: flex-start;
    background: var(--white);
    column-gap: theme('spacing.small');
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: space-between;
    padding: theme('spacing.xSmall') 0;
    position: absolute;
    text-align: center;
    top: 66px;
    width: fit-content;
  }
}
