<flynt-component load:on="idle" name="NavigationMain" class="w-full flex justify-start items-center">
  <nav class="navigation z-[99] w-full px-sm" aria-label="{{ labels.ariaLabel|e }}">
    <div class="flex flex-row items-center justify-between gap-lg h-full w-full">
      <div class="grid grid-cols-3 gap-xs items-center w-full">
        {% include 'Partials/_logo.twig' with { 'logo': logo, 'site': site } only %}
        {% if menu %}
          {% include 'Partials/_menu.twig' with { 'items': menu.items } only %}
        {% endif %}
        {% if ctaLink %}
          <div class="flex justify-end items-center">
            <a 
              class="button button--fullOrange" 
              href="{{ ctaLink.url }}" 
              {% if ctaLink.target %} target="{{ ctaLink.target }}" rel="noreferrer noopener"{% endif %}>
              {{ ctaLink.title }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
</flynt-component>
