<flynt-component load:on="idle" name="NavigationMain" class="w-full flex justify-start items-center">
  <nav class="navigation z-[99] w-full px-sm" aria-label="{{ labels.ariaLabel|e }}">
    <div class="flex flex-row items-center justify-between gap-lg h-full w-full">
      <div class="grid grid-cols-3 gap-xs items-center w-full">
        {% include 'Partials/_logo.twig' with { 'logo': logo, 'site': site } only %}
        {% if menu %}
          {% include 'Partials/_menu.twig' with { 'items': menu.items } only %}
        {% endif %}
        {% if menuSecondary %}
          <div class="flex justify-end items-center gap-xs">
            {% if menuSecondary %}
              {% include 'Partials/_menuSecondary.twig' with { 'items': menuSecondary.items, 'isSecondary': true } only %}
            {% endif %}
            {% for item in ctaLinks %}
              {% if item.ctaLink %}
                <a
                  class="button button--fullOrange"
                  href="{{ item.ctaLink.url }}"
                  {% if item.ctaLink.target %} target="{{ item.ctaLink.target }}" rel="noreferrer noopener"{% endif %}>
                  {{ item.ctaLink.title }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
</flynt-component>
